---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Header from "../../components/Header.astro";
import Hero from "../../components/Hero.astro";
import About from "../../components/About.astro";
import Languages from "../../components/Languages.astro";
import Projects from "../../components/Projects.astro";
import Experience from "../../components/Experience.astro";
import Education from "../../components/Education.astro";
import Hobbies from "../../components/Hobbies.astro";
import Footer from "../../components/Footer.astro";
import { getSiteConfig } from "../../config";

const lang = 'de';
const siteConfig = getSiteConfig(lang);
---
<BaseLayout lang={lang}>
  <Fragment slot="head">
    <meta name="description" content={siteConfig.description} />
    <title>{siteConfig.name} - {siteConfig.title}</title>
  </Fragment>

  <Header lang={lang} />
  <section>
    <Hero lang={lang} />
    <About lang={lang} />
    <Languages lang={lang} />
    <Projects lang={lang} />
    <Experience lang={lang} />
    <Education lang={lang} />
    <Hobbies lang={lang} />
  </section>
  <Footer lang={lang} />
</BaseLayout>
